name: CI

on:
  push:
  pull_request:

jobs:
  mlflow-train:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

- name: Setup Python
  uses: actions/setup-python@v5
  with:
    python-version: "3.10"

- name: Install dependencies
  run: |
    python -m pip install --upgrade pip
    pip install mlflow
    if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

- name: Locate data_preprocessed.csv
  shell: bash
  run: |
    set -e
    echo "Cari data_preprocessed.csv..."
    DATA=$(find . -type f -name "data_preprocessed.csv" | head -n 1)
    if [ -z "$DATA" ]; then
      echo "❌ data_preprocessed.csv tidak ditemukan."
      echo "Berikut daftar CSV yang ada (maxdepth 5):"
      find . -maxdepth 5 -type f -name "*.csv" -print
      exit 1
    fi
    echo "✅ Ketemu: $DATA"
    echo "DATA_PATH=$DATA" >> "$GITHUB_ENV"

- name: Run MLflow Project
  env:
    MLFLOW_TRACKING_URI: file:./mlruns
  run: |
    mlflow run MLProject --env-manager=local -P data_path="${DATA_PATH}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t docker.io/${{ secrets.DOCKERHUB_USERNAME }}/basic_insurance_regression

      - name: Push Docker image
        run: |
          docker push docker.io/${{ secrets.DOCKERHUB_USERNAME }}/basic_insurance_regression
