name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  mlflow-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train ML model
        env:
          MLFLOW_TRACKING_URI: "file:./mlruns"
        run: |
          python MLProject/Modelling.py
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build, tag, push (no split)
        env:
          USER: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          set -euxo pipefail

          IMAGE="docker.io/${USER}/basic_insurance_regression:latest"

          # 1) Build langsung dengan tag final (jadi tidak perlu docker tag lagi)
          docker build -t "$IMAGE" .

          # 2) Pastikan image memang ada
          docker images | head

          # 3) Push
          docker push "$IMAGE"

