name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  mlflow-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train ML model
        env:
          MLFLOW_TRACKING_URI: "file:./mlruns"
        run: |
          python MLProject/Modelling.py
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        env:
          USER: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          set -euxo pipefail

          USER_CLEAN="$(printf '%s' "$USER" | tr -d '\r\n' | xargs)"
          IMAGE="docker.io/${USER_CLEAN}/basic_insurance_regression:latest"

          echo "IMAGE=$IMAGE"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
